body {
  background-image: url(/images/Background New.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.imagelogo{
  margin-top: 30px;
  height: 115px;
  width: 100px;
}

.login-box {
  margin-top: 100px;
  border-radius: 5px;
  height: auto;
  background: white;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#7cc750, #7cc750);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #7cc750;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=email] {
  background-color: #7cc750;
  border: none;
  border-top: 0px;
  border-radius: 3px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 10px;
  color: white;
}

input[type=password] {
  background-color: #7cc750;
  border: none;
  border-top: 0px;
  border-radius: 3px;
  font-weight: bold;
  outline: 0;
  padding-left: 10px;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background-color: #7cc750;
  color: white;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #7cc750;
  color: #7cc750;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #7cc750;
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #A2A4A4;
}

.loginbttm {
  padding: 0px;
}
